<h1><%= current_user.name %>'s portfolio</h1>
<% if current_user.portfolios != [] %>
  <% current_user.portfolios.each do |portfolio| %>
    <h3><%= portfolio.name %></h3>
    <table>

    </table>
    <table>
      <% portfolio.stocks.each do |stock| %>
        <tr>
          <th>Ticker</th>
          <th>Buy</th>
          <th>Shares</th>
        </tr>
        <tr>
          <td><%= stock.ticker %></td>
          <td><%= stock.buy %></td>
          <td><%= stock.shares %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
<%= form_for :portfolio, url: portfolios_path do |f| %>
  <p>
    <%= f.label :name %>:<br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
