<!DOCTYPE html>
<html>
  <head>
    <title>MapYourStocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">MapYoStocks</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
            <li><a href="/users/<%=current_user.id%>/portfolio"> <%=current_user.name%> </a></li>
          <% else %>
            <li> <%= link_to "Sign Up", new_user_registration_path %></li>
            <li> <%= link_to "Sign In", new_user_session_path %></li>
          <%end%>
        </ul>
      </div>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
