<!DOCTYPE html>
<html>
  <head>
    <title>MapYourStocks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

     <!-- <link type="text/css" rel="stylesheet" href="app/assets/stylesheets/materialize.min.css"  media="screen,projection"/> -->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="app/assets/javascripts/materialize.min.js"></script>

    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo">MapYoStocks</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
            <li><a href="/users/<%=current_user.id%>/portfolio"> <%=current_user.name%> </a></li>
          <% else %>
            <li> <%= link_to "Sign Up", new_user_registration_path %></li>
            <li> <%= link_to "Sign In", new_user_session_path %></li>
          <%end%>
        </ul>
      </div>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
